<!DOCTYPE html>
{% load static %}
<html lang="fr">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Taggit</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  </head>
  <body>
        <div class="top-banner">
           <ul>
               <li><a href="{% url 'post_list' %}">Post List</a></li>
			   <li><a href="{% url 'create_tags' %}">Create Post</a></li>
           </ul>
	  </div>
      <div class="main">
          {% block content %}
          {% endblock %} 
	  </div>
  </body>
</html>
